﻿@model Pulperia.Modelos.Articulo

@{
    ViewBag.Title = "BuscarPorCod";
}

<h2>BuscarPorCod</h2>

<div>
    <h4>Articulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodArticulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodArticulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Existencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Existencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodEstado)
        </dd>

    </dl>
</div>
