﻿@model IEnumerable<Pulperia.Modelos.Articulo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AgregarArticulo","Home")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodArticulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Existencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodEstado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodArticulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Existencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodEstado)
        </td>
        <td>
            @Html.ActionLink("Editar", "ActualizarArticulo", new { id = item.CodArticulo }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdArticulo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdArticulo })
        </td>
    </tr>
}
	@Html.ActionLink("Buscar Por Código", "ObtenerPorID")

</table>
