﻿@model Pulperia.Modelos.Articulo

@{
	ViewBag.Title = "ObtenerPorID";
}

<h2>ObtenerPorID</h2>

<div>
	<h4>Articulo</h4>

	@using (Ajax.BeginForm("BuscarPorCod","Index",new AjaxOptions{
		HttpMethod = "Post",
		InsertionMode= InsertionMode.Replace,
		UpdateTargetId="contenido",
		Url = Url.Action("BuscarPorCod")
	}))
	{
		<p>
			@Html.LabelFor(model => model.CodArticulo, "Código")
			@Html.EditorFor(model=>model.CodArticulo)
		</p>
		<p>
			<input type="submit" value="Buscar" />
		</p>
	}

	<div id="contenido">
		@Html.Partial("BuscarPorCod", Model)
	</div>
</div>
