﻿<div>
    <table>
        <tr>
            <td>
                <label>Codigo:</label>
            </td>
            <td>
                <input ng-model="CodArticulo" placeholder="Ingrese el código del producto" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Nombre:</label>
            </td>
            <td>
                <input ng-model="Nombre" type="text" placeholder="Ingrese el nombre del producto">
            </td>
        </tr>
        <tr>
            <td>
                <label>Precio:</label>
            </td>
            <td>
                <input ng-model="Precio" placeholder="Ingrese el precio del producto">
            </td>
        </tr>
        <tr>
            <td>
                <label>Existencia:</label>
            </td>
            <td>
                <input ng-model="Existencia" placeholder="Ingrese la existencia del producto">
            </td>
        </tr>
        <tr>
            <td>
                <label>Estado:</label>
            </td>
            <td>
                <input ng-model="CodEstado" placeholder="Ingrese el código del estado del producto">
            </td>
        </tr>
    </table>

    <input ng-click="agregarArticulo()" value="Agregar" type="button" />


</div>
