﻿<div>
    <table>
        <tr>
            <td>
                <label>Codigo:</label>
            </td>
            <td>
                <input ng-model="articulo.CodArticulo" readonly />
            </td>
        </tr>
        <tr>
            <td>
                <label>Nombre:</label>
            </td>
            <td>
                <input ng-model="articulo.Nombre" type="text" placeholder="Ingrese el nombre del producto">
            </td>
        </tr>
        <tr>
            <td>
                <label>Precio:</label>
            </td>
            <td>
                <input ng-model="articulo.Precio" placeholder="Ingrese el precio del producto">
            </td>
        </tr>
        <tr>
            <td>
                <label>Existencia:</label>
            </td>
            <td>
                <input ng-model="articulo.Existencia" placeholder="Ingrese la existencia del producto">
            </td>
        </tr>
        <tr>
            <td>
                <label>Estado:</label>
            </td>
            <td>
                <input ng-model="articulo.CodEstado" placeholder="Ingrese el código del estado del producto">
            </td>
        </tr>
    </table>

    <input ng-click="actualizarArticulo()" value="Actualizar" type="button" />


</div>